
.root {
    -fx-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -fx-background-color: #2b2b2b;
    -fx-text-fill: #e0e0e0;
}

.button {
    -fx-background-color: #3c7fb1;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15 8 15;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #559bd1;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #e0e0e0;
}

.table-view {
    -fx-background-color: #3a3a3a;
    -fx-table-cell-border-color: transparent;
    -fx-control-inner-background: #2b2b2b;
    -fx-text-fill: #e0e0e0;
}

.table-column-header {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}


.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.analyze-button {
    -fx-background-color: #5c6bc0;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 8 16;
    -fx-background-radius: 5;
}

.analyze-button:hover {
    -fx-background-color: #7986cb;
}
